{% extends "layout.html" %}
{% block title %}
City Attraction
{% endblock%}
{% block head %}



{% endblock %}
{% block body%}

  <div class ="wether forcast">
    <div class="row">
    {{daily_weather}}

    {% for i in daily_Weather.daily %}

    <div class="col">
    <img src="https://openweathermap.org/img/w/{{i.weather.0.icon}}.png"></br>
    <span>{{i.temp.day}}</span>
  </div>
    {% endfor %}
   </div>
  </div>


<div class="row">

  <div class="col">
    <!-- heading area --->
  </br>
    <div class="heading" id ="count">

<h3>  {{count.count}} Attraction found {{city}}</h3>

</div>
  </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-5">
  <div id="listdata">
  {% for key, value in location.items %}




<div class="list-group" id= "list">


    <a href="#"  onclick="showDetails('{{value.0.xid}}');" class="list-group-item list-group-item-action" data-id={{value.0.xid}}>
  <h5 class="list-group-item-heading">{{value.0.name}}</h5>
  <p class="list-group-item-text">{{value.0.kind}}</p>
    </a>

</div>


  {% endfor %}
  </div>
</br>

  {% if count.count > 5 %}
            <nav class="text-center">
                  <button id="next_button" type="button" class="btn btn-primary btn-lg btn-block" onclick="loadlist()">Next (5 of {{count.count}})</button>
              </nav>
  {% endif %}

  <br>
  <nav class="text-center">
        <a id="Cancel" type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'searchData' %}">Back To Country</a>
    </nav>
  <br>

  </div>


<div class="col-sm-10 col-lg-7">



  <div class="alert" id='poi'>


  </div>


  </div>

</div>






<script type="text/javascript">
  var city_lon={{city_lon}}
  var city_lat={{city_lat}}
  var locArray={{coordinates}}
  //var location={{location}}
  mymap = L.map( 'poi', {
    center: [20.0, 5.0],
    minZoom: 2,
    zoom: 2
  }).setView([city_lat, city_lon], 15);

   L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',

  }).addTo( mymap );
 

  for (var i = 0; i < locArray.length; i++) {
      let a=locArray[i][0];
      let b= locArray[i][1];
            L.marker([b,a])
            .bindPopup("hi")
                .addTo(mymap);
        }


</script>








{% endblock%}
