#mapid {
   height: 180px;
  }
#News{
    width:100%;
    height: 400px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    color: white;
    overflow-y: auto;
    border-color: black;
    border-style: double;


}
.widget
{
  padding: .5rem 1rem;
  color: aliceblue;
}
#count{
text-align: center;

}
#CountryDetails{

  width: 100%;
  height: 200px;
}

#country{

  width: 100%;

}
#search{

  margin-top: 150px;

  margin-left: 100px;


}
.alert{
  width: 100%;
  height: 200px;

}
.countrymap th{
  padding: 10px;
  align-items: center;
}
  #weather img{
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 200px;
}
#weather p{
  vertical-align: middle;
  margin-left: 300px;
  align-items: center;
}
.error-messages {
  color: red;
  font-size: 12px; }


  input:invalid {
    border: 2px dashed red;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, lightgreen);
  }

  input:valid {
    border: 2px solid black;
  }

  #poi{
    width:500px;
    height: 600px;


  }
  .countryimage{
    width: 300px;
    height: 300px;
  }
  #flag{
    width: 300px;
    height: 300px;
  }
  .hero-wrap{
    background-image:url('./image/bg5.jpeg') ;
    width: 100%;
    height: 100%;
    position: inherit;

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed; }
    .container{
      margin-top: 50px;

    }
    @media screen and (max-width: 992px) {
      .map{
        width: 300px;
        height: 300px;
      }
      #flag{
        width: 300px;
        height: 300px;
      }

      .alert{
        width: 100%;
        height: 200px;

      }
      #poi{
        width: 500px;
        height: 600px

      }
 }

 /* On screens that are 600px wide or less, the background color is olive */
 @media screen and (max-width: 500px) {
   .map{
     width: 400px;
     height: 300px;
     align-items: center;
   }
   #flag{
     width: 400px;
     height: 300px;
      align-items: center;
   }

   .alert{
     width: 100%;
     height: 200px;
      align-items: center;
   }
   #poi{
     width: 500px;
     height: 600px
     overflow: auto;
   }
   #CountryDetails{

     width: 100%;
     height: 200px;
      align-items: center;
   }
   #News{
       width:380px;
       height: 400px;
       border-radius: 10px;
       border-color: black;
       background-color: black;
       color: white;
       overflow-y: auto;
       border-color: black;
       border-style: double;


   }

  }
