#mapid {
   height: 180px;
  }
#currentlocNews{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border-color: black;
    background-color: aqua;
    scroll-behavior: auto;
    border-color: black;
    border-style: double;


}
