{% extends "layout.html" %}
{% block title %}
City Attraction
{% endblock%}
{% block head %}



{% endblock %}
{% block body%}

<div class="row">

  <div class="col">
    <!-- heading area --->
    <div class="heading" id ="count">

<h3>  {{count.count}} Attraction found {{city}}</h3>

</div>
  </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-5">
  <div id="listdata">
  {% for key, value in location.items %}




<div class="list-group" id= "list">


    <a href="#"  onclick="showDetails('{{value.0.xid}}');" class="list-group-item list-group-item-action" data-id={{value.0.xid}}>
  <h5 class="list-group-item-heading">{{value.0.name}}</h5>
  <p class="list-group-item-text">{{value.0.kind}}</p>
    </a>

</div>


  {% endfor %}
  </div>
  {% if count.count > 5 %}
            <nav class="text-center">
                  <button id="next_button" type="button" class="btn btn-primary" onclick="loadlist()">Next (5 of {{count.count}})</button>
              </nav>
  {% endif %}
  </div>
<div class="col-12 col-lg-7">



  <div class="alert" id='poi'>


  </div>


  </div>

</div>

<script type="text/javascript">
  var city_lon={{city_lon}}
  var city_lat={{city_lat}}
  mymap = L.map( 'poi', {
    center: [20.0, 5.0],
    minZoom: 2,
    zoom: 2
  }).setView([city_lat, city_lon], 12);

   L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a', 'b', 'c']
  }).addTo( mymap )
   L.marker([city_lat, city_lon]).addTo(mymap);


</script>








{% endblock%}
