
    {% extends "layout.html" %}

    {% block head %}



    {% endblock %}
    {% block body%}

    <form id="search" method="POST" action="{% url 'searchData' %}">
        {% csrf_token %}
        <div class="container" id="weather">
        </div>

   {% if messages %}
       <div class="form-group">

      <label class="error-messages" > {{ messages }}</label>


</div>
   {% endif %}

  <div class="form-row align-items-center">


    <div class="col-auto">

      <input type="text" name="searchVal" id="searchVal" list="json-datalist"  class="form-control mb-2" placeholder="Enter Country to Search" size="80" required>
      <datalist id="json-datalist">


      {% for i in county_all%}
      <option value="{{i.name}}">{{i.iso2Code}}</option>
      {% endfor%}
      </datalist>

    </div>


    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>

  </div>
</form>

        {% endblock %}
