
    <!--style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style-->
    {% extends "layout.html" %}
    {% block body%}
        <div id ="currentlocNews">

            {% for row in country_news.articles %}
            <br>
            <table>
              <tr>
                <th><a href="{{row.url}}"><span>{{row.title}}</span></a></th>
              </tr>
                <tr>
                  <td>{{row.description}}</td>
                  <td><img src= '{{ row.urlToImage }}' style="width: 200px; height: 200px;"></td>
                </tr>

              



            </table>

            {% endfor %}

    </div>





    <div id="map"></div>
    {% endblock %}
