{% extends "layout.html" %}

{% block head %}



{% endblock %}
{% block body%}



<div class="row">
    <div id ="currentlocNews">

        {% for row in country_news.articles %}
        <br>
        <table>
          <tr>
            <th><a href="{{row.url}}"><span>{{row.title}}</span></a></th>
            <td>"{{row.publishedAt}}"</td>
          </tr>
            <tr>
              <td>{{row.description}}</td>
              <td><img src= '{{ row.urlToImage }}' style="width: 100px; height: 100px;"></td>
            </tr>





        </table>

        {% endfor %}

      </div>

<div id ="worldNews">
  <table>
  {% for row in country.region %}
  <br>

    <tr>
      <th>{{row.name}}</th>
      <th>{{row.iso2Code}}</th>

    </tr>
     <tr>
       <th>Region</th>
       <td>{{row.region.value}}</td>
     </tr>
     <tr>
       <th>Income Level</th><td>{{row.incomeLevel.value}}</td>

     </tr>
    <tr>
      <th>Capital City</th>
      <td id ="capitalCity">{{row.capitalCity}}</td>
      <td id="longitude" value="{{row.longitude}}">{{row.longitude}}</td>
      <td id="latitude" value="{{row.latitude}}">{{row.latitude}}</td>
    </tr>
    <tr>
      <td>
      <div id="map" style="width: 600px; height: 400px;"></div>
      </td>
    </tr>

      {%for i in country_population.1 %}
      <tr>
      <th>Population</th>

      <td>{{i.value}}</td>
      <th>Year</th>
      <td>{{i.date}}</td>
    </tr>
      {%endfor%}

    {% endfor %}

  </table>



</div>
</div>




<script>


  var longi=document.getElementById('longitude').innerText;
   var latitude=document.getElementById('latitude').innerText;
   let capitalCity= document.getElementById('capitalCity').innerText
  console.log(longi)
  var mymap = L.map('map').setView([latitude,longi], 3);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(mymap);

  L.marker([latitude,longi]).addTo(mymap)
    .bindPopup(capitalCity).openPopup();

  L.circle([51.508, -0.11], 500, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
  }).addTo(mymap).bindPopup("I am a circle.");

  L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
  ]).addTo(mymap).bindPopup("I am a polygon.");


  var popup = L.popup();



</script>
    {% endblock %}
